<div ng-controller="newInvoiceController">
  <div class="head-div">Create New Invoice</div>
  <br />
  <div class="invoice-container1">
    <div class="invoice-header">
      <h1 class="invoice-title">GST Invoice</h1>
      <button class="add-subtitle-btn">
        <span class="plus-icon">+</span> Add Sub Title
      </button>
    </div>

    <div class="invoice-container">
      <div class="invoice-form">
        <div class="invoice-details">
          <div class="invoice-row">
            <div class="invoice-label">
              Invoice No<span class="required">*</span>
            </div>
            <div class="invoice-value">
              <input
                type="text"
                ng-model="invoiceNumber"
                name="invoiceNumber"
              />
              <div class="invoice-hint">
                LatestInvoice No: A00002(Mar 19, 2025)
              </div>
            </div>
          </div>
          <date-picker
            label="Invoice Date"
            selected-date="invoiceDate"
          ></date-picker>
          <date-picker label="Due Date" selected-date="dueDate"></date-picker>
        </div>

        <!-- <button class="add-fields-btn">
            <span class="plus-icon">+</span> Add More Fields
          </button> -->
      </div>

      <div class="logo-upload">
        <div class="logo-placeholder">
          <div class="image-icon">
            <span class="material-icons"> collections </span>
          </div>
          <div class="logo-text">Add Business Logo</div>
          <div class="logo-hint">Resolution up to 1080×1080px.</div>
          <div class="logo-hint">PNG or JPEG file.</div>
        </div>
      </div>
    </div>
    <div class="billing-container">
      <bill
        header-title="Billed By"
        subtitle="Your Details"
        company-name="ABC Firm"
        address="India"
      >
      </bill>
      <bill
        header-title="Billed To"
        subtitle="Client's Details"
        company-name="PQR Firm"
        address="India"
      >
      </bill>
    </div>
  </div>
</div>
