/* Main container */
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Logo on left, menu on right */
    padding: 10px 20px;
    background-color: #192890;
    /* background: white; */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Logo styling */
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo-image {
    width: 120px; /* Adjust logo size */
    height: 50px;
  }
  
  /* Navbar Menu */
  .navbar {
    display: flex;
    align-items: center;  /* Ensures vertical alignment */
    list-style: none;
    gap: 10px;
    padding: 0;
  }
  
  .navbar li {
    display: flex;  /* Makes sure the <li> aligns properly */
    align-items: center; 
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .navbar a:hover {
    color: #007bff;
  }
  
  /* Hide Navbar Menu on Mobile */
  @media (max-width: 768px) {
    .navbar {
      display: none; /* Hide menu */
    }
  }
  
.avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7e22ce;
    color: white;
    cursor: pointer;
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}